.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-Header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/*.header {
  display: flex;
  justify-content: center;
}
STYLE is implemented in the Header.js file
*/

.nav {
  background-color: aqua;
}
.nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  background-color: orange;
  padding: 0;
}

.nav ul li {
  padding: 10px;
}


.footer {
  display: flex;
  justify-content: space-around;
}

.footer div {
  text-align: left;
}

.footer ul {
  list-style-type: none;
  text-align: left;
  padding-left: 0;
}